# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Node.js and NPM
node_modules
npm-debug.log
tools/node_modules
tools/npm-debug.log
*.tgz

# Misc
temp
